.body-wrapper {
  display: flex;
  height: 100%;

  .sidebar {
    width: 16rem;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    background-color: #ffffff;
    color: #000000;
    border-right: 1px solid #e2e8f0;
  }

  main {
    flex: 1 1 0%;
    min-width: 0;
    overflow-y: auto;
  }
}