.block-card {
  padding: 0;
  border-radius: 12px;
  background-color: #ffffff;
}

.card-header {
  display: flex;
  gap: 0.5rem;
  align-items: center;

  font-size: 0.875rem;
  font-weight: 700;
  line-height: 1.25rem;
  margin: 0;

  .card-title-icon {
    color: #00a651;
    font-size: 1rem;
    line-height: 1rem;
    width: 1rem;
    height: 1rem;
  }
}

.general-data-form {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr;
  margin-top: 1rem;

  @media (min-width: 768px) {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}
