.bond-details {
  padding: 1.5rem;

  .title-block {
    margin-bottom: 1.5rem;

    h2 {
      font-size: 1.25rem;
      line-height: 1.75rem;
      font-weight: 600;
      margin: 0 0 0.25rem;
    }

    p {
      color: #676f6d;
      font-size: 0.875rem;
      line-height: 1.25rem;
      margin: 0;
    }
  }

  form {
    display: grid;
    gap: 1.5rem;
  }
}